.offerbox{
    background-color: white;
    /* border: 1px solid black; */
    width: 25em;
    height: 20em;
    padding: 30px 30px;
    z-index: 1000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    /* transition: ease-in 2s; */
    animation: box-appear ease-out 3s;
   
}

.offercontent{
    padding: 25px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.divbtns{
    display: flex;
    justify-content: center;
}
.signbtn{
    border: none;
    padding: 0px 15px;
    background-color: #000000;
    color: #ffffff;
    margin-right: 10px;

}

.nextime{
    border: none;
    padding: 15px 15px;
    background-color: whitesmoke;
    color: #000000;
}

.iconrow{
    display: flex;
   justify-content: center;
   margin: 0.5em;
   /* height: 2.5em;
   width: 3em; */
}

.icon{
    margin-right: 10px;
}