.meals {
    max-width: 60rem;
    width: 100%;
    margin: 1rem auto;
    animation: meals-appear 1s ease-out forwards;
  }
  
  .meals ul {
    list-style: none;
    margin: 0.4em;
    padding: 0;
    display: flex;
    width: auto;
    position: absolute;
    left: -170px;
  }

  .order{
    display: flex;
    justify-content: center;
    font-size: x-large;
  }
 
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }