.backg{
  width: 50%;
}
.backg img {
  /* height: 50em; */
  width: 100%;
  border-radius: 20px 0 0 20px;
}

@media only screen and (max-width: 768px) {
  .backg{
    width: 0;
  }
  
  .backg img {
    display: none;
    width: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .backg{
    width: 0;
  }
  .backg img {
    display: none;
    width: 0px;
  }
}

@media only screen and (max-width: 992px) {
}
