.wrapper {
  width: 95%; 
  display: flex;
  align-items: center;
  border-radius: 20px;
  margin: 50px auto;
  border: 1px solid white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media only screen and (max-width: 768px) {
  .main-frame{
    width: 100%;
    padding: 0px;
    margin: 10px 0px;
  }
}

@media only screen and (max-width: 600px) {
  .main-frame {
    width: 100%;
    padding: 0px;
    margin: 10px 0px;
  }
  }