.wrapper {
  /* position: relative; */
  /* top: 15em; */
  width: 95%;
  /* height: 50em; */
  display: flex;
  align-items: center;
  /* padding: 0; */
  /* border: 1px solid black; */
  border-radius: 20px;
  margin: 50px auto;
  border: 1px solid white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
