.main-frame {
  padding: 40px;
  width: 50%;
}

.main-frame h3,
h6 {
  left: 15px;
}

.main-frame input,
textarea {
  padding: 20px 20px;
  width: 100%;
  margin: 5px;
  border: 1px solid gainsboro;
}

.main-frame button {
  padding: 10px 5px;
  width: 10em;
  background-color: #b94517;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  
}

.my-sweet-alert {
  background-color: #f7f7f7;
  color: #333;
}

.my-sweet-alert-title {
  color: #00bfff;
}

.my-sweet-alert-button {
  background-color: #4d1601;
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .main-frame {
    width: 100%;
    padding: 20px;
  }

  .main-frame h3 h6 {
    text-align: center;
  }

  .main-frame button {
    
    justify-content: center;
    width: 16em;
  }
}

@media only screen and (max-width: 600px) {
  .main-frame {
    width: 100%;
    padding: 20px;
  }
  .main-frame h3 {
    text-align: center;
  }
  .main-frame h6 {
    text-align: center;
    font-size: 18px;
  }
  .main-frame button {
   
    justify-content: center;
    width: 16em;
  }
}

@media only screen and (max-width: 992px) {
}
