.main-frame {
  position: absolute;
  /* border: 1px solid black; */
  right: 30px;
  top: 66em;
  padding: 40px;
  height: 15em;
  width: 44em;
}

.main-frame h3,
h6 {
  position: relative;
  left: 15px;
}

.main-frame input,
textarea {
  padding: 20px 20px;
  width: 35em;
  margin: 5px;
  border: 1px solid gainsboro;
}

.main-frame button {
  padding: 10px 5px;
  width: 10em;
  background-color: #b94517;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  display: flex;
   justify-content: center;
  position: relative;
  left: 250px;
}

.my-sweet-alert {
  background-color: #F7F7F7;
  color: #333;
}

.my-sweet-alert-title {
  color: #00BFFF;
}

.my-sweet-alert-button {
  background-color: #00BFFF;
  color: #FFF;
}






