@import url("https://fonts.googleapis.com/css2?family=Sarabun&family=Shantell+Sans:wght@800&family=Sofia+Sans+Semi+Condensed&family=Source+Serif+Pro&display=swap");

.logoname {
  margin: 25px;
  font-weight: bolder;
  font-size: xx-large;
  font-family: "Sarabun", sans-serif;
  font-family: "Shantell Sans", cursive;
  text-decoration: none;
  color: #4d1601;
  display: flex;
  text-align: center;
 /* width: 30em; */
}
.background h4{
  background-color: aliceblue;
  padding: 0.25em 0;

}
.adminname {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  border-radius: 15px;
  padding: 35px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32em;
  position: relative;
  top: 5em;
}

.container input {
  margin: 0;
  padding: 15px 15px;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  background-image: url("../assets/cool-background.png");
}

.btnlogin {
  
  padding: 10px 10px;
  width: 5em;
  position: relative;
  left: 9em;
  margin-top: 1em;
  background-color: #4d1601;
  color: #ffffff;
  font-weight: bold;
}
