@import url("https://fonts.googleapis.com/css2?family=Sarabun&family=Shantell+Sans:wght@800&family=Sofia+Sans+Semi+Condensed&family=Source+Serif+Pro&display=swap");

body {
  overflow: scroll;
}

.contain {
  display: flex;
}
.illus {
  width: 50em;
}
.illus img {
  width: 100%;
}

.logoname {
  margin: 15px;
  font-weight: bolder;
  font-size: xx-large;
  font-family: "Sarabun", sans-serif;
  font-family: "Shantell Sans", cursive;
  text-decoration: none;
  color: #4d1601;
  display: flex;
  text-align: center;
}

.login_btns {
  display: flex;
  justify-content: center;
  margin: 0;
}

.login_btns button {
  padding: 15px 15px;
  margin: 15px;
  width: 6em;
  font-size: 0.9em;
  font-weight: bold;
}

.background h4 {
  background-color: aliceblue;
  padding: 0.25em 0;
  margin: 0em;
}
.adminname {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-pills .nav-link{
  color: black;
}

.nav-pills .nav-link.active{
  background-color: black;
}

.container {
  background-color: white;
  border-radius: 15px;
  margin-top: 50px;
  padding: 35px 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25em;
}

.container input {
  border-radius: 0px;
  padding: 15px 15px;
}

.bottom {
  border-bottom: none;
}
.background {
  width: 50%;
  overflow: hidden;
  background-color: lavenderblush;
}

.btnlogin {
  padding: 10px 10px;
  width: 5em;
  position: relative;
  left: 9em;
  margin-top: 1em;
  background-color: #4d1601;
  color: #ffffff;
  font-weight: bold;
}
