@import url("https://fonts.googleapis.com/css2?family=Sarabun&family=Shantell+Sans:wght@800&family=Sofia+Sans+Semi+Condensed&family=Source+Serif+Pro&display=swap");
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #1a1831;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
 
}

.header h1{
  font-family: "Sarabun", sans-serif;
  font-family: "Shantell Sans", cursive;
}


.main-image {
  width: 100%;
  height: 25rem;
  z-index: 0;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}

.headerright{
  display: flex;
}
a {
  cursor: pointer;
  text-decoration: none;
  font: inherit;
  border: none;
  /* position: relative;
  left: 27em; */
  color: white;
  padding: 0.65rem 1.5rem;
  display: flex; 
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-weight:bold;
  /* transition: linear 0.1s; */
}

@media only screen and  (max-width:768px){
  .header{
    width: 85%;
  }

  .headerright{
    text-align: center;
  }
  
}
