*section-50{
    padding: 50px 0;
}

.main-box{
    /* display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: #ffffff; */
    /* border: 1px solid black; */
    /* border-radius: 15px;
    position: relative;
    top: 11em;
    left: 2em;
    padding: 5px; */
    margin: auto;
    width: 90%;
    /* height: 22em; */
    /* background-color: aliceblue; */
}

.maintitle{
    margin-bottom: 20px;
    
}

.col-box{
    /* border: 1px solid black; */
    border-radius: 10px;
    height: 14em;
    width: 23%;
    /* float: left; */
    display: inline-block;
    margin: 0 10px;
}

.col-box img{
    height: 22em;
    width: 100%;
    border-radius: 10px;
    /* position: relative; */
    /* overflow: hidden; */
}

.col-box img:hover {
    transition: all 0.5s ease-out;
    box-shadow: 0px 10px 10px rgba(38, 38, 38, 0.2);
    top: -5px;
    border: 1px solid #cccccc;
    background-color: white;
  }

/*   
  .box-1 img:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  .box-1 img:hover:before {
    transform: scale(2.15);
  } */

  
.col-box p{
    font-weight:light;
    top: -3em;
    color: #ffffff;
    font-size: 22px;
    /* font-weight: bold; */
    display: flex;
    flex-direction: column;
    width: 15em;
    margin: 0.2em;
    position: relative;
    left: 10px;
}

@media screen and (max-width:767px){
    .col-box{
        width: 100%;
    }
}